@media screen and (min-width: 100px) and (max-width: 450px) {
  .mobile-nav {
    // border: solid red;
    // padding-bottom: 2rem;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 28px 0;
    }
    &__toggler {
      background-color: #fff;
      border: none;
      outline: none;
    }
    &__items {
      margin-bottom: 20px;
      border-bottom: 1px solid #979797;
    }
    &__item {
      margin: 20px 0;
      text-align: center;
    }
    &__link {
      text-transform: uppercase;
      font-size: 15px;
      color: $main-black;
    }
    &__cta {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  .showcase {
    flex-direction: column;
    &__details {
      width: 100%;
      order: 10 !important;
      div {
        margin: 4.5rem 1.5rem;
      }
    }
  }

  .stories-holder {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    .main-footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      & > div:first-of-type {
        & > div {
          margin-top: 2rem;
        }
      }
      & > ul {
        margin-top: 3.2rem;
        margin-bottom: 7.5rem;
      }
      & > div:last-of-type {
        & > p {
          margin-top: 2.1rem;
        }
      }
    }
  }
}
